{% extends 'homebase.html' %}
{% load static %}
{% block title %} О НАС - {{setting.title}} - {{setting.description}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock keywords %}
{% block description %}{{setting.aboutus_page|safe}}{% endblock description %}


{% block header %}
    {% include 'header.html' %}
{% endblock header %}

{% block body %} 
     <!--Breadcrumb Area-->
	<section class="breadcrumb-area banner-1" data-background="{% static 'images/banner/2.jpg' %}">
		<div class="text-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 v-center">
						<div class="bread-inner">
							<div class="bread-menu">
								<ul>
									<li><a href="{% url 'home' %}">ГЛАВНАЯ</a></li>
									<li><a href="#">О НАС</a></li>
								</ul>
							</div>
							<div class="bread-title">
								<h2>О НАС</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Breadcrumb Area-->
	<!--Start About-->
	<section class="about-agency pad-tb block-1">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="common-heading text-l">
						<h3 class=text-center>О НАШЕЙ КОМПАНИИ</h3>
						<p>{{setting.aboutus_page|safe}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End About-->
{% endblock body %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}

