{% load static %}
<!--Start CTA-->
<section class="cta-area pad-tb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading">
                    <span>ДАВАЙТЕ РАБОТАТЬ ВМЕСТЕ</span>
                    <h2>Мы прислушаемся к вашим предложениям</h2>
                    <a href="https://wa.me/{{setting.phone_1}}" target="_blank" class="btn-outline">Напишите нам
                        <i class="fas fa-chevron-right fa-icon"></i>
                    </a>
                    <p class="cta-call">Или позвоните нам
                        <a href="tel:{{setting.phone_1}}" target="_blank">
                            <i class="fas fa-phone-alt"></i> 
                            {{setting.phone_1}}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape shape-a1"><img src="{% static 'images/shape/shape-3.svg' %}" alt="shape"></div>
    <div class="shape shape-a2"><img src="{% static 'images/shape/shape-4.svg' %}" alt="shape"></div>
    <div class="shape shape-a3"><img src="{% static 'images/shape/shape-13.svg' %}" alt="shape"></div>
    <div class="shape shape-a4"><img src="{% static 'images/shape/shape-11.svg' %}" alt="shape"></div>
</section>
<!--End CTA-->
<!--Start Location-->
<section class="our-office pad-tb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading">
                    <span>НАШе РАСПОЛОЖЕНИе</span>
                    <h2 style="text-transform:capitalize">Наши офисы</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center upset shape-numm">
            <div class="col-lg-4 col-md-5 col-sm-12 col-12 shape-loc wow fadeInUp" data-wow-delay=".2s">
                <div class="office-card">
                    <div class="skyline-img" data-tilt data-tilt-max="4" data-tilt-speed="1000">
                        <img src="{% static 'images/location/sydeny.png' %}" alt="Location" class="img-fluid m-auto" />
                    </div>
                    <div class="office-text">
                        <h4>{{setting.address}}</h4>
                        <a href="tel:{{setting.phone_1}}" target="_blank" class="btn-outline rount-btn">
                            <i class="fas fa-phone-alt"></i>
                        </a>
                        <a href="mailto:{{setting.email}}" target="_blank" class="btn-outline rount-btn">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a href="https://wa.me/{{setting.whatsapp}}" target="_blank" style="font-size:21px; font-weight:bold" class="btn-outline rount-btn">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-12 shape-loc wow fadeInUp" data-wow-delay=".4s">
                <div class="office-card">
                    <div class="skyline-img" data-tilt data-tilt-max="4" data-tilt-speed="1000">
                        <img src="{% static 'images/location/newyork.png' %}" alt="Location" class="img-fluid m-auto" />
                    </div>
                    <div class="office-text">
                        <h4>{{setting.address_osh}}</h4>
                        <a href="tel:{{setting.phone_1}}" target="_blank" class="btn-outline rount-btn">
                            <i class="fas fa-phone-alt"></i>
                        </a>
                        <a href="mailto:{{setting.email}}" target="_blank" class="btn-outline rount-btn">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a href="https://wa.me/{{setting.whatsapp}}" target="_blank" style="font-size:21px; font-weight:bold" class="btn-outline rount-btn">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Location-->
<!--Start Footer-->
<footer>
    <div class="footer-row3">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-">
                            <p>Copyright &copy; 2020. Все права защищены.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->