<section class="about-sec-rpb pad-tb" style="padding-bottom:50px">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <div class="common-heading">
                    <h1 class="mb30">
                        <span class="text-second">Компания по разработке</span> 
                        веб-сайтов, графического дизайна и видео с лучшим качеством
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>